<div class="dialog-content-wrapper" *blockUI="'form-dialog-imp-tsg'">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <h2 mat-dialog-title class="title dialog-title">
                {{title | translate}}
            </h2>
            <button mat-icon-button (click)="cancel()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="dialogForm" autocomplete="off">
            <div fxLayout="row">
                <table id="tblBoleta" style="width: 100%;height: 300px;border-spacing:0px;">
                    <tr>
                        <td style="text-align: center;width: 30%;">
                            <img src="../../../../assets/images/logos/logo_oran.png" style="height: 40px; width: 140px;">
                        </td>
                        <td colspan="2">
                            <table style="width: 100%; text-align: center;border-style: none;">
                                <tr class="sinBorde"><th>Municipalidad de San Ramón de la Nueva Orán</th></tr>
                                <tr class="sinBorde"><td>Impuesto TSG</td></tr>
                            </table>                            
                        </td>
                    </tr>
                    <tr style="text-align: center;">
                        <th>Periodo</th>
                        <th>Vencimiento</th>
                        <th>Catastro</th>
                    </tr>
                    <tr style="text-align: center;">
                        <td>{{form.iPeriodo}}-{{form.iAnio}}</td>
                        <td>{{diaVencimiento}}/{{form.iPeriodo}}/{{form.iAnio}}</td>
                        <td>{{form.sCatastro}}</td>
                    </tr>    
                    <tr>
                        <td colspan="3">
                            <table id="tblDatosTitular" style="width: 100%;">
                                <tr><th style="text-align: left;width: 80px;">Titular:</th><td>{{titular.sNombre}} {{titular.sApellido}}</td></tr>
                                <tr><th style="text-align: left;">DNI:</th><td>{{titular.sNroDocumento}}</td></tr>
                                <tr><th style="text-align: left;">Domicilio:</th><td>{{titular.sDomicilio}}</td></tr>
                            </table>        
                        </td>
                    </tr>    
                    <tr>
                        <td style="width: 70%;" colspan="2">
                          &nbsp;
                        </td>
                        <td>
                            <table style="width: 100%; text-align: center;">
                                <tr><th>Importe</th></tr>
                                <tr><td>{{form.nMonto_Pagar}}</td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td colspan="3" style="text-align: center">
                        <img src="../../../../assets/images/codigobarras/codbarra1.png">
                    </td></tr>
                </table>
            </div>            
        </form>
    </div>

    <div mat-dialog-actions class="m-0 py-12 px-24" fxLayout="row" fxLayoutAlign="end center">
        <!--<button mat-raised-button color="accent" (click)="save()" [disabled]="dialogForm.invalid"
            aria-label="action == 'edit' ? 'SAVE CHANGES' : 'SAVE'">
            {{action == 'edit' ? 'Guardar cambios' : 'Guardar'}}
        </button>-->

        <button mat-raised-button color="warn" class="ml-8" (click)="cancel()" aria-label="CANCEL">
            Cancelar
        </button>
    </div>
</div>

