<div style="width: 500px;">
    <div>Impuestos Automotor</div>
    <div>
        <table id="tblBoleta" style="width: 100%;">
            <tr>
                <th>Periodo</th>
                <th>Dominio</th>
            </tr>
            <tr>
                <td>03-2022</td>
                <td>JAR090</td>
            </tr>    
            <tr>
                <td colspan="2">
                    <table id="tblDatosTitular" style="width: 100%;">
                        <tr><td>Tirular:</td><td>CRISIAN GONZALEZ</td></tr>
                        <tr><td>Nro Documento:</td><td>28105434</td></tr>
                        <tr><td>Domicilio:</td><td>ARMADA ARGENTINA AVDA Piso:2 Depto:226
                            Sector/Bloque:26 Salta Capital</td></tr>
                    </table>        
                </td>
            </tr>    
            <tr>
                <td style="width: 70%;">
                    <table id="tblDatosVehiculo" style="width: 100%;">
                        <tr><td>Marca:</td><td>PEUGEOT</td></tr>
                        <tr><td>Modelo:</td><td>207 COMPACT XS 1.4</td></tr>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tr><td>Importe</td></tr>
                        <tr><td>350</td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>    
</div>